.balanceContainer {
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 30px;
}

.balanceContainer h1 {
    font-weight: 100;
    margin: 0px;
}